html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: black;
  font-family: 'DM Sans', sans-serif;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  width: 100%;
}

button {

  margin-top: 0.5rem;
  padding: 12px 20px;
  border-radius: 8px;

  font-size: 18px;
  outline: none;
  border: none;
  color: black;
  background-color: blue;
  color: white;
  

  transition: background-color 0.2s ease;
}

button:hover {
  background-color: darkblue;
}

button:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

#game-canvas {
  width: 100%;
  height: 100%;
}


#play-menu {
  position: fixed;
  top: 50%;
  left: 50%;
 
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

#play-menu p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  width: 70%;
}

#play-menu input {
  width: 80%;
  font-size: 18px;
  outline: none;
  border-radius: 8px;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 12px 0;
  text-align: center;
}

#play-menu input:hover {
  outline: none;
}

#death-menu {
  position: fixed;
  top: 50%;
  left: 50%;
 
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

#death-menu p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  width: 70%;
}

#death-menu input {
  width: 80%;
  font-size: 18px;
  outline: none;
  border-radius: 8px;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 12px 0;
  text-align: center;
}

#death-menuinput:hover {
  outline: none;
}

#leaderboard {
  position: fixed;
  top: 10px;
  right: 10px;

  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 10px;
  border-radius: 16px;
}

#leaderboard th {
  text-align: left;
  padding: 2px 5px;
}

#leaderboard td {
  text-align: left;
  padding: 2px 5px;
}

#disconnect-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#disconnect-modal > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 15px 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  #death-menu {
    padding: 10px 15px;
    min-width: 280px;
  }

  #play-menu {
    padding: 10px 15px;
    min-width: 280px;
  }

  #disconnect-modal > div {
    padding: 10px;
    min-width: 280px;
  }

  #leaderboard th {
    padding: 0 3px;
  }

  #leaderboard td {
    padding: 0 3px;
  }

  #leaderboard table {
    font-size: 14px;
  }
}
